* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

// Загалні стилі для кнопки
.get-lesson-btn {
    padding: 16px 32px;
    color: #FFFFFF;
    background: #EF4444;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.get-lesson-btn:active {

    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);

}

@media only screen and (max-width: 1023px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
        background: #DBDBDB;
        color: #0D2A54;
    }

    .header {
        background: #FAF8F6;
        padding: 0px 8px 40px;

        .header-text {
            text-align: center;

            .logo {
                margin: 8px 0px 24px;
            }

            h2 {
                color: #0D2A54;
                font-weight: 800;
                font-size: 20px;
                font-family: 'Montserrat';
            }

            .grades p {
                color: #0D2A54;
                font-weight: 800;
                font-family: 'Montserrat';
                font-size: 14px;
                display: inline-block;
                background: #D0DBF1;
                border-radius: 4px;
                padding: 4px 8px;
            }

            .info {
                text-align: start;

                .desktop {
                    display: none;
                }

                h3 {
                    font-family: 'Montserrat';
                    font-size: 14px;
                    margin-bottom: 0px;


                    span {
                        color: #30C690;
                    }
                }


                .info-paragraphs {
                    margin: 8px 0px 22px;
                    font-weight: 600;
                    font-size: 12px;
                    font-family: 'Montserrat';
                }

                p:first-child {
                    margin-top: 8px;
                }

                p:last-child {
                    margin-top: 12px;
                }

                .text-programm {
                    display: flex;

                    span {
                        margin-right: 3px;
                    }

                    .paragraph p {
                        margin: 0px;
                    }
                }
            }
        }

        .header-image {
            background: #FFFFFF;
            border-radius: 8px;
            margin-top: 16px;

            img {
                display: block;
                margin: auto;
            }
        }
    }

    .stem {
        background: #FFFFFF;
        padding: 24px 8px 32px;

        .mobile-layout {

            .desktop-according {

                .desktop {
                    display: none;
                }
            }

            h2 {
                font-family: 'Montserrat';
                font-weight: 800;
                font-size: 14px;
                line-height: 20px;
                margin: 8px 0px 44px;

                .green {
                    color: #30C690;
                }

                .orange {
                    color: #FF9900;
                }
            }

            .stem-text {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 12px;
                margin-bottom: 4px;
            }

            .stem-occupation {
                color: #FFFFFF;
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 12px;
                text-align: end;
                background-color: #30C690;
                display: block;
                width: 100%;
                padding: 8px 8px;

            }

            .non-stem-occupation {
                color: #0D2A54;
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 12px;
                text-align: end;
                background-color: #FF9900;
                display: block;
                width: 54%;
                padding: 8px 8px;
            }
        }
    }

    .about {
        margin: 80px 8px;

        h2 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 14px;
            line-height: 20px;
        }

        p {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }


        .slider {
            background: #FAF8F6;
            border: 1px solid #D0DBF1;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.02), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            padding: 16px;
            text-align: center;

            h3 {
                font-family: 'Montserrat';
                font-weight: 800;
                font-size: 20px;
                margin: 0px 0px 16px;
            }

            img {
                margin: 0px 0px 16px;
            }

            fieldset {
                border: 1px solid #D0DBF1;
                border-radius: 8px;
                text-align: start;
                padding: 12px 8px 12px 16px;
                margin: 0px 0px 16px;

                label {
                    margin-left: 4px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 12px;
                }

                select {
                    display: block;
                    width: 100%;
                    border: none;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 16px;
                    color: #0D2A54;
                }

                input {
                    display: block;
                    width: 100%;
                    border: none;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 16px;
                    color: #0D2A54;
                }
            }

            .get-lesson-btn {
                width: 100%;
                padding: 16px;
                margin: 8px 0px 0px;
            }
        }
    }

    .report-preview {
        margin: 0px 8px 80px;
        text-align: center;

        h2 {
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 20px;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 24px;
            margin: 0;
        }

        .get-lesson-btn {
            margin-top: 24px;
        }

        .points {
            text-align: start;

            .desktop-btn {
                display: none;
            }
        }

        // Slider
        .slider-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .slider-wrapper {
            display: flex;
            transition: transform 0.3s ease-in-out;
            will-change: transform;
            overflow-x: scroll;
        }

        .slider-wrapper img {
            flex-shrink: 0;
            width: 100%;
        }

        .slider-scrollbar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #ccc;
            z-index: 1;
        }
    }

    .better-greater {
        text-align: center;
        background-color: #FFFFFF;
        padding: 24px 8px 32px;

        .desktop-better-greater {
            display: none;
        }

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 20px;
        }

        span {
            color: #30C690;
        }
    }

    .trust-pilot-reviews {
        margin: 80px 7px;
        text-align: center;

        .desktop-trust-pilot-reviews {
            display: none;
        }

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            margin: 0px;
        }

        // Sleider reviews
        .slider-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 335px;
        }

        .slider-wrapper {
            display: flex;
            transition: transform 0.3s ease-in-out;
            // max-height: 305px;
        }

        .slider-wrapper img {
            width: 100%;
            height: 315px;
            object-fit: contain;
            display: none;
        }

        .slider-wrapper img.active {
            display: block;
        }

        .slider-dots {
            // position: absolute;
            bottom: 20px;
            left: 50%;
            // transform: translateX(-50%);
        }

        .dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid #0D2A54;
            margin: 0 8px;
            cursor: pointer;
        }

        .dot.active {
            background-color: #0D2A54;
        }

    }

    .featured-in {
        padding: 24px 8px 40px;
        text-align: center;
        background-color: #FFFFFF;

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            margin: 0px 0px 16px;
        }

        .logos-container-desktop {
            display: none;
        }

        .logos-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .logos-top-row {
                display: flex;
                justify-content: center;
                gap: 25px;
            }

            .logos-bottom-row {
                display: flex;
                justify-content: center;
                gap: 36px;
            }
        }
    }

    .footer-desktop {
        display: none;
    }

    .footer {
        background: #2B41B7;
        padding: 40px 8px 0px;
        text-align: center;

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin: 0px;
        }

        .get-lesson-btn {
            margin: 40px 0px 24px;
        }

        .footer-images {
            display: flex;
            justify-content: space-around;
        }

        .footer-girl {
            display: flex;
            align-self: self-end;
        }

        .footer-boy {
            display: flex;
        }
    }
}


@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        color: #0D2A54;

        .header {
            background: #DBDBDB;
            display: flex;
            padding: 32px 108px 0px;

            .header-text {
                text-align: start;
                margin-bottom: 40px;

                .logo {
                    margin: 0px;
                }

                h2 {
                    color: #0D2A54;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 64px;
                    margin: 88px 0px 16px;
                }

                .grades p {
                    display: none;
                }

                .info {

                    .mobile {
                        display: none;
                    }

                    h3 {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 28px;


                        span {
                            color: #30C690;
                        }
                    }


                    .info-paragraphs {
                        margin: 8px 0px 22px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                    }

                    p:first-child {
                        margin: 26px 0px 16px;
                    }

                    p:last-child {
                        margin: 16px 0px 40px;
                    }

                    .text-programm {
                        display: flex;

                        span {
                            margin-right: 3px;
                        }

                        .paragraph p {
                            margin: 0px;
                        }
                    }
                }
            }

            .header-image {
                border-radius: 8px;
                margin-top: 16px;
                background-color: none;
                display: flex;
                align-items: flex-end;

                img {
                    width: 496px;
                    background-color: none;
                }
            }
        }

        .stem {
            background: #FFFFFF;
            padding: 80px 108px 112px;

            .mobile-layout {
                display: flex;

                .desktop-according {
                    width: 73%;

                    .desktop {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 40px;
                    }

                    .mobile {
                        display: none;
                    }

                    h2 {
                        font-family: 'Montserrat';
                        font-weight: 800;
                        font-size: 14px;
                        line-height: 20px;
                        margin: 8px 0px 44px;

                        .green {
                            color: #30C690;
                        }

                        .orange {
                            color: #FF9900;
                        }
                    }
                }

                .desktop-stem {
                    width: 50%;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    .stem-occupation {
                        color: #FFFFFF;
                        text-align: end;
                        background-color: #30C690;
                        display: block;
                        width: 80%;
                        padding: 4px 4px;

                    }

                    .non-stem-occupation {
                        color: #0D2A54;
                        text-align: end;
                        background-color: #FF9900;
                        display: block;
                        width: 54%;
                        padding: 4px 4px;
                    }
                }
            }
        }

        .about {
            padding: 80px 210px 120px;
            display: flex;
            background: #DBDBDB;

            .text-container {
                margin-right: 24px;

                h2 {
                    font-family: 'Montserrat';
                    font-weight: 800;
                    font-size: 32px;
                    line-height: 48px;
                    margin: 0px;
                }

                p {
                    font-family: 'Montserrat';
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .slider {
                background: #FAF8F6;
                border: 1px solid #D0DBF1;
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.02), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
                border-radius: 8px;
                padding: 16px;
                text-align: center;
                height: fit-content;

                h3 {
                    font-family: 'Montserrat';
                    font-weight: 800;
                    font-size: 20px;
                    margin: 0px 0px 16px;
                }

                img {
                    margin: 0px 0px 16px;
                }

                fieldset {
                    border: 1px solid #D0DBF1;
                    border-radius: 8px;
                    text-align: start;
                    padding: 12px 8px 12px 16px;
                    margin: 0px 0px 16px;

                    label {
                        margin-left: 4px;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 12px;
                    }

                    select {
                        display: block;
                        width: 100%;
                        border: none;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 16px;
                        color: #0D2A54;
                    }

                    input {
                        display: block;
                        width: 100%;
                        border: none;
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 16px;
                        color: #0D2A54;
                    }
                }

                .get-lesson-btn {
                    width: 100%;
                    padding: 16px;
                    margin: 8px 0px 0px;
                }
            }
        }

        .report-preview {
            background: #DBDBDB;
            padding: 0px 108px 80px 212px;

            .report-preview-container {
                display: flex;

                .points {
                    width: 50%;

                    h2 {
                        font-family: 'Montserrat';
                        font-weight: 800;
                        font-size: 32px;
                        margin: 10px 0px 16px;
                    }

                    p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0;
                    }
                }

                .get-lesson-btn {
                    margin-top: 48px;
                }

                // Slider
                .slider-container {
                    position: relative;
                    // width: 100%;
                    overflow: hidden;
                    width: 50%;

                    .slider-wrapper {
                        display: flex;
                        transition: transform 0.3s ease-in-out;
                        will-change: transform;
                        overflow-x: scroll;

                        img {
                            flex-shrink: 0;
                            width: 100%;
                        }
                    }

                    .slider-scrollbar {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 5px;
                        background-color: #ccc;
                        z-index: 1;
                    }
                }
            }

            .mobile-btn {
                display: none;
            }
        }

        .better-greater {
            background-color: #FFFFFF;
            padding: 64px 0px 68px;
            width: 545px;
            margin: auto;

            .mobile-better-greater {
                display: none;
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 24px;
                line-height: 40px;
                justify-content: center;
                margin: 0px 0px 32px;
            }

            span {
                color: #30C690;
            }

        }

        .trust-pilot-reviews {
            padding: 80px 0px;
            text-align: center;
            background: #DBDBDB;

            .mobile-trust-pilot-reviews {
                display: none;
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                margin: 0px 0px 40px;
            }

            // Sleider reviews   
            .slider-wrapper {
                display: flex;
                width: 1224px;
                margin: auto;
            }

            // .slider-wrapper div {
            //     display: flex;
            //     justify-content: space-between;
            //     width: 100%;
            //   }
            
            .slider-dots {
                display: none;
            }

            .slide {
                width: 384px;
                margin: 12px;
            }

        }

        .featured-in {
            padding: 56px 0px 80px;
            text-align: center;
            background-color: #FFFFFF;
    
            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 24px;
                margin: 0px 0px 31px;
            }
            
            .logos-container {
                display: none;
            }

            .logos-container-desktop {
    
                .logos-top-row {
                    display: flex;
                    justify-content: center;
                    gap: 48px;
                }
            }
        }

        .footer {
            display: none;
        }

        .footer-desktop {
            background: #2B41B7;
            padding-top: 35px;
            text-align: center;
            display: flex;
            justify-content: space-around;
            
            .footer-girl {
                display: flex;
                height: 300px;
                align-self: self-end;
            }

            .footer-content {
                align-self: center;
            }

            .footer-boy {
                display: flex;
                height: 325px;
            }

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 48px;
                color: #FFFFFF;
                margin: 0px;
            }
            
    
            .get-lesson-btn {
                margin: 40px 0px 0px;
                background-color: #30C690;
            }
    
            // .footer-images {
            //     display: flex;
            //     align-items: flex-end;
            // }
    
            // .footer-images img:first-child {
            //     width: 50%;
            //     height: 188px;
    
            // }
    
            // .footer-images img:last-child {
            //     width: 50%;
            // }
        }
    }


}